{
    "#": " -*- json -*- ",
    "#": "This is a configuration file for classify_bills script",
    "#": "(see the documentation for more details)",
    "paths": {

        "#": "Where the tool looks for new documents",
        "source-directory": "",

        "#": "Top of the document storage tree",
        "#": "Each processed document will end up as",
        "#": "<TOP>/<YEAR>/<directory>/<name-template>",
        "destination-directory": ""
    },

    "#": "List of account configurations - one structure per account",

    "accounts": [
        {
            "#": "Unique name of each account",
            "name" : "",

            "#": "Destination subdirectory name for account (default: <name>)",
            "directory" : "",

            "#": "Template for destination file name. Most of strftime() macros",
            "#": "are supported. Also, %Q is used to denote a quarter.",
            "#": "(which is useful for quarterly reports)",
            "name-template" : "",

            "#": "List of patterns in the document, all of which must match",
            "matches-all" : [
                "",
                ""
            ],

            "#": "When determining the date of the statement, two things are",
            "#": "important: a pattern that matches the date in the document",
            "#": "and the format of the date.",
            "date-extractor" : {

                "#": "Regular expression that matches the date. The date string",
                "#": "itself must be made available via a backreference \1",
                "regexp": "",

                "#": "strftime() format that matches the date string",
                "format": "",

                "#": "In some rare cases, there is now full date specified",
                "#": "for within the document - the date is specified only as",
                "#": "month and day. In this case, if year is available somewhere",
                "#": "else within the document, this instruction can specify",
                "#": "the pattern for the year separately from the rest of the",
                "#": "date (again, via a backreference \1)",
                "year-extractor-regexp": "",

                "#": "Occasionally, some bills use a convention where the only",
                "#": "date in the document is of the next month",
                "#": "(i.e. 'Bill ends on May 01' (where May is the next month))",
                "#": "In this case, you can use the instruction below to make",
                "#": "the tool adjust back by one month.",
                "adjust-month-back": true

            }
        },

        {
            "#": "Example 1: American Express Blue Cash card",
            "name": "American Express",
            "directory": "American Express",
            "name-template": "AMEX_%Y-%m.pdf",
            "matches-all": [
                "American Express",
                "Blue Cash Everyday"
            ],
            "date-extractor": {
                "regexp": "Closing Date\\s+(\\d+/\\d+/\\d+)",
                "format": "%m/%d/%y"
            }
        },

        {
            "#": "Example 2: AT&T Wireless bill",
            "name": "AT&T Wireless",
            "matches-all": [
                "AT&T",
                "www\\.att\\.com"
            ],
            "date-extractor": {
                "regexp": "1\\s+of\\s+\\d+\\s+(\\d+/\\d+/\\d+) - \\d+/\\d+/\\d+",
                "format": "%m/%d/%y"
            }
        },

        {
            "#": "Example 3: Banana Republic card bill",
            "name": "Banana Republic Card",
            "matches-all": [
                "Banana Republic",
                "eservice\\.bananarepublic\\.com"
            ],
            "date-extractor": {
                "regexp": "(\\d+/\\d+/\\d+)\\s+Days in Billing Cycle",
                "format": "%m/%d/%Y",
                "adjust-month-back": true
            }
        },

        {
            "#": "Example 3: Liberty Mutual insurance bill",
            "name": "Liberty Mutual Bill",
            "directory" : "Liberty Mutual",
            "name-template" : "Liberty Mutual %Y-%m.pdf",
            "matches-all": [
                "LIBERTY MUTUAL GROUP",
                "THIS IS YOUR HOME INSURANCE BILL"
            ],
            "date-extractor": {
                "regexp": "THIS IS YOUR HOME INSURANCE BILL\\s+A[Ss] [Oo][Ff] (\\S+\\s+\\d+,\\s+\\d+)",
                "format" : "%B %d, %Y"
            }
        }

    ]
}
